:markdown

  As a designer for GitLab you would be responsible for creating and maintaining our
  brand. You will work on the design of the GitLab website, all marketing design needs,
  and all branding. You'll work very closely together with almost everyone in GitLab to
  make sure we follow good design principles and our branding is clear in everything we do.
  This means you get a lot of freedom, independence and responsibilities.
