---
layout: default
title: Terms
---

.wrapper
  .container
    #subscription
      %h2.terms GitLab Subscription Terms
      %br/
      %br/
      %br/
      %br/
      = partial "includes/terms/subscription"
      = partial "includes/terms/signature-block"
